<!-- views/profile.ejs -->
<html ngapp = "maangobook">
<html>
<head>
	  <title>Maangobook</title>
	  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
	  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/reset.css">
	  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/style.css">
	  <script type = text/javascript src = "../node_modules/angular/angular.js"></script>
	  <script src="../node_modules/bootstrap/dist/js/jquery-2.1.1.js"></script>
      <script src="../node_modules/bootstrap/dist/js/jquery.mobile.custom.min.js"></script>
      <script src="../node_modules/bootstrap/dist/js/main.js"></script>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	  
</head>
<body>


<header class="cd-main-header">
		<a class="cd-logo" href="#0"><img src="../../node_modules/bootstrap/dist/img/cd-logo.svg" alt="Logo"></a>

		<ul class="cd-header-buttons">
			<li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
			<li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
		</ul> <!-- cd-header-buttons -->
	</header>

	<main class="cd-main-content">
		<!-- your content here -->
		

	</main>

	<div class="cd-overlay"></div>

	<nav class="cd-nav">
		<ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
			<li class="has-children">
				<a href="#">Categories</a>

				<ul class="cd-secondary-nav is-hidden">
					<li class="go-back"><a href="#0">Menu</a></li>
					<li class="see-all"><a href="#">All Categories</a></li>
					<li class="has-children">
						<a href="#">Fiction</a>

						<ul class="is-hidden">
							<li class="go-back"><a href="#0">fiction</a></li>
							<li class="see-all"><a href="#">All fiction</a></li>
							<li class="has-children">
								<a href="#0">General Fiction</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">fiction</a></li>
									<li class="see-all"><a href="#">abc</a></li>
									<li><a href="#">derf</a></li>
									<li><a href="#">asdf</a></li>
									<li><a href="#">asdf</a></li>
								</ul>
							</li>
							<li class="has-children">
								<a href="#0">Historical Fiction</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">drama</a></li>
									<li class="see-all"><a href="#">avc</a></li>
									<li><a href="#">as</a></li>
									<li><a href="#">das</a></li>
									<li><a href="#">fasd</a></li>
								</ul>
							</li>
							<li><a href="#">Fanfiction</a></li>
							<li><a href="#">Science Fiction</a></li>
							<li><a href="#">Non Fiction</a></li>
							<li><a href="#">yeh Fiction</a></li>
							<li><a href="#">Woh Fiction</a></li>
							<li><a href="#">Sabka Fiction</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Drama</a>

						<ul class="is-hidden">
							<li class="go-back"><a href="#0">east drama</a></li>
							<li class="see-all"><a href="#">All Drama</a></li>
							<li><a href="#">west drama</a></li>
							<li class="has-children">
								<a href="#0">side drama</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">Drama</a></li>
									<li class="see-all"><a href="#">All Drama</a></li>
									<li><a href="#">first drama</a></li>
									<li><a href="#">second drama</a></li>
									<li><a href="#">third drama</a></li>
									<li><a href="#">Fourth Drama</a></li>
								</ul>
							</li>
							<li><a href="#0">fifth drama</a></li>
							<li><a href="#0">Short drama</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Romance</a>

						<ul class="is-hidden">
							<li class="go-back"><a href="#0">Clothing</a></li>
							<li class="see-all"><a href="#">All Jackets</a></li>
							<li><a href="#">First romance</a></li>
							<li><a href="#">Second romance</a></li>
							<li><a href="#">Third Romance</a></li>
							<li><a href="#">Fifth Romance</a></li>
							<li><a href="#">Sixth Romance</a></li>
							<li><a href="#">Seventh Romance</a></li>
						</ul>
					</li>

					<li class="has-children">
						<a href="#">Mystery</a>

						<ul class="is-hidden">
							<li class="go-back"><a href="#0">Mysteries</a></li>
							<li class="see-all"><a href="#">All Mysteries</a></li>
							<li><a href="#">First Mystery</a></li>
							<li><a href="#">Second Mystery</a></li>
							<li><a href="#">Third Mystery</a></li>
							<li><a href="#">Forth Mystery</a></li>
							<li><a href="#">Fifth Mystery</a></li>
							<li><a href="#">Sixth Mystery</a></li>
							<li class="has-children">
								<a href="#0">Long Mysteries</a>

								<ul class="is-hidden">
									<li class="go-back"><a href="#0">Hot Mysteries</a></li>
									<li class="see-all"><a href="#">All mysteries</a></li>
									<li><a href="#">Sixth Mystery</a></li>
									<li><a href="#">Sixth Mystery</a></li>
									<li><a href="#">Sixth Mystery</a></li>
									<li><a href="#">Sixth Mystery </a></li>
								</ul>
							</li>
							<li><a href="#">seventh Mystery</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li class="has-children">
				<a href="#">Top Arrivals</a>

				<ul class="cd-nav-gallery is-hidden">
					<li class="go-back"><a href="#0">Menu</a></li>
					<li class="see-all"><a href="#">Browse More </a></li>
					<li>
						<a class="cd-nav-item" href="#">
							<img src="../../node_modules/bootstrap/dist/img/img.jpg" alt="Product Image">
							<h3>Book #1</h3>
						</a>
					</li>

					<li>
						<a class="cd-nav-item" href="#">
							<img src="../../node_modules/bootstrap/dist/img/img.jpg" alt="Product Image">
							<h3>Book #2</h3>
						</a>
					</li>

					<li>
						<a class="cd-nav-item" href="#">
							<img src="../../node_modules/bootstrap/dist/img/img.jpg" alt="Product Image">
							<h3>Book #3</h3>
						</a>
					</li>

					<li>
						<a class="cd-nav-item" href="#">
							<img src="../../node_modules/bootstrap/dist/img/img.jpg" alt="Product Image">
							<h3>Book #4</h3>
						</a>
					</li>
				</ul>
			</li>

			<li><a href="#">Best Book</a></li>

			<li class="has-children">
				<a href="#">Setting</a>
				<ul class="cd-nav-icons is-hidden">
					<li class="go-back"><a href="#0">Menu</a></li>
					<li class="see-all"><a href="#">More Settings</a></li>
					<li>
						<a class="cd-nav-item item-1" href="#">
							<h3>Service #1</h3>
							<p>This is the item description</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-2" href="#">
							<h3>Service #2</h3>
							<p>This is the item description</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-3" href="/logout">
							<h3>Lougout</h3>
							<p>Thanks for using Maangobook.</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-4" href="#">
							<h3>Service #4</h3>
							<p>This is the item description</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-5" href="#">
							<h3>Service #5</h3>
							<p>This is the item description</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-6" href="#">
							<h3>Service #6</h3>
							<p>This is the item description</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-7" href="#">
							<h3>Service #7</h3>
							<p>This is the item description</p>
						</a>
					</li>

					<li>
						<a class="cd-nav-item item-8" href="#">
							<h3>Service #8</h3>
							<p>This is the item description</p>
						</a>
					</li>
				</ul>
			</li>

		</ul> <!-- primary-nav -->
	</nav> <!-- cd-nav -->

	<div id="cd-search" class="cd-search">
		<form>
			<input type="search" placeholder="Search...">
		</form>
	</div>  
	<img src = "https://graph.facebook.com/user_id/picture?type=square">
	<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.username %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>

			</div>
		</div>

		 <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <p>
                    <strong>id</strong>: <%= user.facebook.id %><br>
                    <strong>token</strong>: <%= user.facebook.token %><br>
                    <strong>email</strong>: <%= user.facebook.email %><br>
                    <strong>name</strong>: <%= user.facebook.name %>
                </p>

            </div>
        </div>

<footer>
	All rights are reserved | 2017
</footer



</body>
</html>